[project]
	description = OEM of phytec barebox
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trilokesh Rangam (srmdesigns)
[access "refs/for/refs/*"]
	read = group user/Trilokesh Rangam (srmdesigns)
	push = group user/Trilokesh Rangam (srmdesigns)
	label-Code-Review = -2..+2 group user/Trilokesh Rangam (srmdesigns)
	label-Verified = -1..+1 group user/Trilokesh Rangam (srmdesigns)
	rebase = group user/Trilokesh Rangam (srmdesigns)
	removeReviewer = group user/Trilokesh Rangam (srmdesigns)
	submit = group user/Trilokesh Rangam (srmdesigns)
[access "refs/heads/*"]
	read = group user/Trilokesh Rangam (srmdesigns)
	create = group user/Trilokesh Rangam (srmdesigns)
	push = +force group user/Trilokesh Rangam (srmdesigns)
	pushMerge = group user/Trilokesh Rangam (srmdesigns)
[access "refs/tags/*"]
	push = group user/Trilokesh Rangam (srmdesigns)
	push = +force group user/Trilokesh Rangam (srmdesigns)
